body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background: url('images/university.jpg') no-repeat center center fixed;
  background-size: cover;
}

.login-container {
  background-color: rgba(255, 255, 255, 0.9);
  width: 320px;
  padding: 20px;
  margin: 100px auto;
  text-align: center;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.3);
}

.login-container img {
  width: 80px;
  margin-bottom: 15px;
}

.login-container h1 {
  color: #6a1b9a; /* بنفسجي */
  margin: 5px 0;
}

.login-container h2 {
  color: #000000; /* أسود */
  margin: 5px 0;
}

.login-container input {
  width: 90%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.login-container button {
  width: 95%;
  padding: 10px;
  background-color: #6a1b9a;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}